/**
*
*	Yellow Text
*	========================================
*	This is a pre-made theme for the Yellow
*	text editor and it's not needed to run
*	the plugin.
*
*/
.js-editor-container {
    position: relative;
}

.js-editor-container:hover .js-editor-buttons {
    opacity: 1;
}

/**
*
*	Buttons
*	========================================
*	This section styles the buttons and the
*	button bar, that holds all the buttons.
*
*/
.js-editor-buttons {
    background: #ddd;
    border-radius: 5px;

    position: absolute;
    left: 8px;
    bottom: -20px;

    width: auto;
    height: 30px;
    opacity: 0;

    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}


.js-editor-buttons > a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 8px;
    font: 16px Georgia;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px #fff;
    cursor: pointer;
}

.js-editor-iframe {
}


.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.strikethrough {
    text-decoration: line-through;
}

.icon-sprite, .JustifyLeft, .JustifyCenter, .JustifyRight, .InsertUnorderedList, .InsertOrderedList, .image, .link {
    background: url('../demo/images/icon-s634930a1a1.png') no-repeat;
}

.JustifyLeft,
.JustifyCenter,
.JustifyRight,
.InsertUnorderedList,
.InsertOrderedList,
.image,
.link {
    margin-top: 9px;
    text-indent: -99999em;
}

.JustifyLeft {
    background-position: 0 -276px;
}

.JustifyCenter {
    background-position: 0 -184px;
}

.JustifyRight {
    background-position: 0 -230px;
}

.InsertUnorderedList {
    background-position: 0 -138px;
}

.InsertOrderedList {
    background-position: 0 -46px;
}

.image {
    background-position: 0 -92px;
}

.link {
    background-position: 0 0;
}
